*/.DS_Store/*

raw_data/transferencias/
raw_data/inventarios/
raw_data/forecasts/

transformed_data/back_orders/*
transformed_data/forecasts/*
transformed_data/inventarios/*
transformed_data/transferencias/*